body {
    margin: 0px;
    padding: 0px;
    background: url(img6.png);
}

.top_nav {
   
    margin: 0px 20px;
    padding-bottom: 10px;
}
.brand_name {
    position: relative;
    margin: 10px 0px 0px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
/*    border-bottom: 2px solid;*/
    padding: 10px 10px 0px 10px;
    display: inline-block;
}

.top_menu {
    position: absolute;
    top: 5%;
    left: 50%;
    display: inline;
    transform: translateX(-50%);
    
}

.menu_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.menu_li {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 8px;
    
}

.menu_link {
    text-decoration: none;
    color: black;
}

.social_links {
    position: absolute;
    left: 80%;
    top: 5%;
}

.fa {
  padding: 0px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    background: transparent;
  color: black;
}

.image_viewer {
    position: relative;
    margin: 0px 5px;
}

.img1 {
    
   
}

.p_t_img1 {
    position: absolute;
    top: 0%;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid;
    padding: 5px;
    right: 1%;
}

.loc {
    position: relative;
    margin: 20px;
    border: 2px solid;
    background: white;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}

.loc_p {
     font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    font-size: 50px;

}

.p_img_1 {
    position: relative;
    left: 5%;
    top: 20px;   
    width: 25%;
   opacity: 0.7;
    padding-bottom: 50px;
    border: 2px solid black;
}

.p_img_1:hover {
     opacity: 1;
}

.t_img_1{
    position: relative;
    bottom: 1%;
        font-family: 'Open Sans', sans-serif;
    color: black;
   left: 9%;
    font-size: 20px;
    border-bottom: 2px solid white;
    position: absolute;
}


.row {
    
    margin: 10px;
    
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.p_img1 , .p_img2 , .p_img3 {
    height: 500px;
    
}

.f_name {
     font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    font-size:50px; 
    
    
}

.t_img1 {
     font-family: 'Open Sans', sans-serif;
    font-size: 20px;    
    position: relative;
    top: -92%;
    left: 55%;
    border-bottom: 2px solid white;
    display: inline;
    color: white;
}

.t_img2 {
     font-family: 'Open Sans', sans-serif;
    font-size: 20px;    
    position: relative;
    top: -92%;
    left: 55%;
    border-bottom: 2px solid white;
    display: inline;
    color: white;
}

.place_more {
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; 
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-style: none;
   border-bottom: 2px solid teal; /* Green */
    margin: 10px;
}

.footer {
    padding: 10px;
    background-color: #F0F0F0;
    position: relative;
    
    
}

.f1 , .f2 {
    position: relative;
    
         font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}

.place_b {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.p_b1 {
    position: relative;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; 
    padding: 10px 20px;
    background-color: white;
    color: black;
    margin: 20px 40px;
    border: 2px solid black; /* Green */
    transition-duration: 0.4s;
}

.f {
    position: relative;
     font-family: 'Open Sans', sans-serif;
    font-size: 30px; 
    
   
    margin: 20px 100px;
    font-style: italic;
    
}

.t1 {
    border: 2px solid  #44a6c6;
    margin: 20px;
/*        background-color: #f8fcfd;*/

}
.feedback {
    padding: 20px 30px;
    margin: 20px 0px;
    margin: 10%;
    border: 2px solid;
    background: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.f_p2 , .f_p3 {
    display: none;
}

/* center the blockquote in the page */
.blockquote-wrapper {
   display: inline;
   height: 10px;
   padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
    position: relative;
     font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    
    color: #ffffff;
   
    width: 100%;
    max-width: 1000px;
    
    margin: 0px auto;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

/* Blockquote header */
.blockquote p {
    position: relative;
    color: black;
    font-style: italic;
    font-size: 40px;
    
    line-height: 1;
    margin: 0;
}

/* Blockquote right double quotes */
.blockquote:after {
    position: absolute;
    content: "”";
    color: black;
    font-size: 10rem;
    line-height: 0;
    bottom: -43px;
    right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 60px;
   }

}

.gallery {
    
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 280px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; 
  text-align: center;
}




/* Slideshow container */


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */


.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.mySlides {display:none;}

.menu {
    float: right;
    position: relative;
    top: 10px;
    display: none;
    
}

.menu_img {
    width: 80px;
}

.menu_nav {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  
    background-color: rgba(252 , 252 , 252 , 0.8);
  
}

.menu_content {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.close {
    font-size: 70px;    
}

.close:hover {
    cursor: pointer;
}

.menu_a {
     font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: black;
    text-decoration: none;
    text-decoration-color: none;
}

.menu_l {
    list-style: none;
}

.services {
    position: relative;
    margin: 20% 50ps;
    padding-bottom: 50px;
    background: white;
    border: 2px solid;
    margin: 10%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   
}

.p_services {
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

.columns{
    padding-top: 20px;
    
    
}
.column{
   padding: 5%;
    text-align: center;
    
}

.s_desc{
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    font-size: 25px;
    color: black;
   
}

.s_img {
    width: 50px;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

/* MAP STUFF */

.map {
    position: relative;
    background: white;
    text-align: center;
    margin: 0 5%;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.map-t {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 50px;
}

.leh {
    position: absolute;
    top: 250px;
    left: 42%;
    width: 30px;
    height: 30px;
}

.chennai {
    position: absolute;
    top: 600px;
    left: 43%;
    width: 30px;
    height: 30px;
}

.maptext {
    position: absolute;
    top: 30%;
    right: 5%;
    padding: 10px;
    border: 2px solid black;
}

.container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
}

.card{
	height: max-content;
}
